extends layout

block content
  div.container
    div.jumbotron
      h1 나의 칸반 보드
      p 안녕하세요 !! 저의 칸반보드입니다.
      p 새 업무를 추가하시려면,아래 버튼을 클릭하세요 !
      div.form-group
        form(action='/createTask',method='post')
          input(type='text' name='contents' class='form-control')
          button(type='submit' class='btn btn-success') Add Task
    div.row
      div.col-lg-4
        ul.list-group
          li.list-group-item.active TO-DO
            span.badge=todo.length
          each val in todo
            div.input-group
              li.list-group-item= val
              div.input-group-btn
                form(action='/updateTask',method='post')
                  input(type='hidden' name='status' value='In-Progress')
                  button(type='submit' class='btn btn-info' name='contents' value=val)<strong>></strong>
      div.col-lg-4
        ul.list-group
          li.list-group-item.active In-Progress
            span.badge=inProgress.length
          each val in inProgress
            div.input-group
              li.list-group-item= val
              div.input-group-btn
                form(action='/updateTask',method='post')
                  input(type='hidden' name='status' value='Done')
                  button(type='submit' class='btn btn-info' name='contents' value=val)<strong>></strong>
      div.col-lg-4
        li.list-group-item.active Done
          span.badge=done.length
        each val in done
          div.input-group
            li.list-group-item= val
            div.input-group-btn
              form(action='/removeTask',method='post')
                button(type='submit' class='btn btn-danger' name='contents' value=val) D